<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <extensions>
    <add assembly="Google.Cloud.Logging.NLog" />
  </extensions>
  
  <targets>
    <target xsi:type="Console" name="console"
            layout="${longdate} ${uppercase:${level}} ${logger}: ${message} ${exception:format=ToString}" />
      <target name="stackdriver" type="GoogleStackdriver" projectId="!!!! ADD PROJECT NAME HERE !!!!" logId="test-logging" credentialFile="credentials.json" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,stackdriver"/>
  </rules>
</nlog>
